@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* GLOBAL STYLES */

html {
    min-height: 100%;
    width: 100%;
}

body {
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #a6055d;
}


/* Color Palette  */

.color1 {
    color: #a6055d !important;
}

.color2 {
    color: #f263cc !important;
}

.color3 {
    color: #f2a7de !important;
}

.color4 {
    color: #f230d2 !important;
}

.color5 {
    color: #0d0d0d !important;
}

.color6 {
    color: #eaeaea !important;
}

.bg1 {
    background-color: #a6055d !important;
}

.bg2 {
    background-color: rgb(242, 99, 204) !important;
}

.bg3 {
    background-color: rgb(242, 167, 222) !important;
}

.bg4 {
    background-color: rgb(242, 48, 210) !important;
}

.bg5 {
    background-color: rgb(13, 13, 13) !important;
}

.bg6 {
    background-color: rgb(234, 234, 234) !important;
}

/* Nav Bar  */

.navbrand {
    font-weight: 800;
}

.dropdown-glass {
    background: rgba(242, 48, 210, 0.45);
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(242, 48, 210, 0.225);
}

.dropdown-item:hover {
    --bs-dropdown-link-hover-bg: none;
}

.dropdown-item {
    --bs-dropdown-link-active-color: none;
    --bs-dropdown-link-active-bg: none;
}


/* Brand Logo */

.logo {
    font-weight: 900;
    font-size: 5rem;
}

.tagline {
    font-size: 1.75rem;
    font-weight: 200;
}

.nav-logo {
    height: 100px;
    width: 100px;
}

/* Index */
/* Hero image  */
.hero-img {
    height: 50rem;
    width: auto;
    z-index: 1;
}

.hero {
    z-index: 10;
}


.glass {
    background: rgba(166, 5, 93, 0.55);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(166, 5, 93, 0.275);
}


/* Photo Gallery */

.close {
    font-size: 1.5rem;
  }
  
  .col-12 img {
    opacity: 0.7;
    cursor: pointer;
    margin: 2rem;
    width: 100%;
  }
  
  .col-12 img:hover {
    opacity: 1;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/* PRODUCTS  */
/* GALLERY */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    min-height: fit-content;
}


/* CARDS */

.krumb-card {
    background: rgba(234, 234, 234, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(234, 234, 234, 0.25);
}

.rating {
    font-size: medium;
    color: #0d0d0d;
}

.rating>p>i {
    color: #f263cc;
}

/* MEDIA QUERIES */

/* // Small devices (landscape phones, 375px and down) */
@media (max-width: 375px) {}


/* // Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
    .hero-img {
        height: 40rem;
        width: auto;
        z-index: 1;
    }

    .glass {
        margin-top: 50px;
        margin-left: auto;
    }

  
}

/* // Small devices (landscape phones, 768px and down) */

@media (max-width: 768px) {
    .card-img-top {
        height: 40vw;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}