{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="row m-0 p-0">
    <div class="col-8 offset-2 color6 text-sm-center">
        <h1 class="display-4 color6 text-sm-center pb-4">About Us</h1>
        <p class="">
            At Krumb, we are an artisan bakery, we focus on handmade, delicious fresh bakes. Our Cakes, Bakes & Buns
            are made using quality, local produces so we in turn can support other small producers and growers.
        </p>
        <h4>Our dream</h4>
        <p>
            Our dream is simple, we want to share home made Irish produce with everyone, and what better medium than
            cake??
        </p>
        <h4>What we offer?</h4>
        <p>
            We offer a Custom Cakes, desserts, tray bakes and treats for any occasion or celebration, You can order
            these via Email on <a class="color6" href="mailto:someone@example.com">hello@krumbbakery.com</a>
        </p>
        <h4>Where can you see us?</h4>
        <p>
            
            We are found at local Farmers markets and events to keep up to date follow us on 
            <a class=" color6"
                href="https://www.instagram.com/krumb_bakery/?locale=%E9%AB%98%E4%BB%BF%E5%8F%B0%E6%B9%BEBKT%E5%95%86%E5%8A%A1%E9%9F%A9%E8%AF%AD%E8%80%83%E8%AF%95%E8%81%94%E7%B3%BB%7B%E5%A8%81%E4%BF%A1%2BTG%2F%E9%A3%9E%E6%9C%BA%3A%40buth2788%7DPw0eR%3F%3F%3F%3F%3F%3F%D1%A7%3F%3F%C6%BEKomGk">
                Instagram
            </a>,
            <a class="color6"
            href="https://www.instagram.com/krumb_bakery/?locale=%E9%AB%98%E4%BB%BF%E5%8F%B0%E6%B9%BEBKT%E5%95%86%E5%8A%A1%E9%9F%A9%E8%AF%AD%E8%80%83%E8%AF%95%E8%81%94%E7%B3%BB%7B%E5%A8%81%E4%BF%A1%2BTG%2F%E9%A3%9E%E6%9C%BA%3A%40buth2788%7DPw0eR%3F%3F%3F%3F%3F%3F%D1%A7%3F%3F%C6%BEKomGk">
            @krumb_bakery
        </a>  and on Facebook to stay up to date on where you can find us next.
        </p>
        <h4><a class="color6" href="mailto:someone@example.com">hello@krumbbakery.com</a></h4>

    </div>
</div>

{% endblock %}