{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-12 bg6">

    </div>
</div>
<div class="row">
    <div class="row m-0 p-0">
        <div class="col-7 hero">
            <h6 class="tagline color3 pb-0 m-0 ms-m-5 ms-1">Every last ...</h6>
            <h1 class="offset-1 logo color4 text-sm-center">Krumb...</h1>
            <div class="glass text-center">
                <h3 class="offset-1 color3">We have a Krumb in the oven!</h3>
                <h6 class="offset-1 color6">While we are under construction you can reach us here at
                    hello@krumbbakery.com
                </h6>
            </div>
        </div>
        <div class="col-5 p-0">
            <img class="hero-img float-end" src="/media/cookie.webp" alt="Image of Almond croissant cookie">
        </div>
    </div>
</div>
{% endblock %}