{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="w-100 ">
    <div class="row m-0 p-0">
        <div class="col-8 offset-2 color6 text-sm-center">
            <div class="">
                <h1 class=" text-sm-center display-4 color6">Online Orders are coming soon!</h1>
                <h3 class=" text-center color6">To place an order via Email <a class="color6"
                        href="mailto:someone@example.com">Click Here</a></h3>
            </div>
        </div>
    </div>
</div>
<div class="row m-0 p-0">
    <div class="col-8 offset-2 color6 text-sm-center">
        <h5 class="display-6 pt-4 pb-4">Product Gallery</h5>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        {% for gal in gallery %}
        <div class="col pb-5">
            <div class="card bg6">
                <img src="{{ MEDIA_URL }}{{ gal.image }}" class="card-img-top" alt="{{ gal.name }}">
                <div class="card-body">
                    <p class="card-text color1 text-center fs-6">{{ gal.name }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- <div class="row d-none">
    <div class="col-10 offset-1 product-container">
        <div class="row mt-1 mb-2"></div>
        <div class="row mb-5">
            {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-5">
                <div class="card krumb-card h-100">
                    <a href="" class="">
                        {% if product.image %}
                        <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img-top" alt="{{ item.name }}">
                        {% else %}
                        <img src="{{ MEDIA_URL }}default-img.webp" class="card-img-top"
                            alt="No image available for Product">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        
                        <a href="" class="text-decoration-none">
                            <h5 class="card-title color1">{{ product.name }}</h5>
                        </a>
                        <h5 class="card-title">
                            {% if product.offer_price %}
                            <span class="mr-1">
                                <del>£{{ product.price }}</del>
                            </span>
                            <span>£{{ product.offer_price }}</span>
                            {% else %}
                            <span>£{{ product.price }}</span>
                            {% endif %}
                            <span class="badge badge-pill bg{{ product.get_label_display }}">{{ product.get_tag_display }}</span>
                            <div class="rating">
                                {% if product.rating %}
                                <p class="text-muted"><i class="fa-regular fa-star"></i>{{ product.rating }}</p>
                                {% else %}
                                <p>No ratings yet!</p>
                                {% endif %}
                            </div>
                        </h5>
                        <p class="card-text">{{ product.description }}</p>
                        {% if request.user.is_superuser %}
                            <small class="ml-3 text-end">
                                <a href="">Edit</a>
                                <a class="red" href="">Delete</a>
                            </small>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
</div>
</div> -->

<!-- <div class="row">
    <div class="col ">
        <div class="btn top-button">
            <a class="btt-link d-flex h-100">
                <i class="fas fa-arrow-up mx-auto my-auto"></i>
            </a>	
        </div>
    </div>
</div> -->
{% endblock %}

<!-- {% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% endblock %} -->